.color-variants {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
}

@media (max-width: 500px) {
    .color-variants {
        grid-template-columns: 1fr;
    }
}
