.color-item {
    padding: 1rem 0.5rem;
    background-color: #333;
    text-align: center;
    border-left: 65px solid transparent;
    cursor: pointer;
    transition: 0.15s ease-in;
}

.color-item:nth-child(even) {
    background-color: #444;
}

.color-item:hover {
    background-color: #404040;
}

@media (max-width: 652px) {
    .color-item {
        border-left: 115px solid transparent;
    }
}

@media (max-width: 450px) {
    .color-item {
        border-left: 65px solid transparent;
    }
}

@media (max-width: 350px) {
    .color-item {
        border-left: 40px solid transparent;
        font-size: 14px;
    }
}
