.home-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.home-card-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-card-icon svg {
    font-size: 55px;
}
